{% extends 'base.html' %}
{% load static%}
{% load  crispy_forms_tags%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div>
                <img src="{{post.imageURL}}" class="img__box img__center">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }} </h2>
                    <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                    <p class="card-text ">{{ post.content | safe }}</p>
                </div>
            </div>
        </div>

        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h3  class="card-title">{{comments.count}} comments</h3>
                {%for comment in comments%}
                <div class="comment">
                    <p class="font-weight-bold">
                        {{comment.name}}
                        <span class="text-muted font-weight-normal">
                        {{comment.created_on}}
                        </span>
                    </p>
                    <p>{{comment.body | linebreaks }}</p>

                </div>

                {%endfor%}
            </div>
        </div>

        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderations
                </div>
                {%else%}
                <form method="POST" style="margin-top: 1.3em;">
                    {{comment_form| crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn_readmore img__center">Submit</button>
                </form>
                {%endif%}
            </div>
        </div>
    </div>
</div>

{% endblock content %}